# Assinnig values to variable

In [1]:
counter =100   #interger assing
miles=1000.0      #A float assing
name="John"        # A string assing
print(counter)
print(miles)
print(name)

100
1000.0
John

In [2]:
#multiple assingment
#single value to several variables
a=b=c=1
print(a)

1

In [3]:
#multiple value to several variables
a=b=c=1,2,"John"
print(a)

(1, 2, 'John')

# Standard data types
           1. NUMBERS
           2.STRING
           3.LIST
           4.TUPLE
           5.DICTIONARY

In [4]:
var1 = 1.1545
var2 = 2
var3 =3

In [5]:
print(var1,var2,var3)

1.1545 2 3

# delete operator

In [6]:
del var1,var2,var3

# py support three different numerical types
1. INT(SIGNED INTEGER)
2.FLOAT (FLOATING POINTS REAL VALUES)
3.COMPLEX(COMPLEX NUMBERS)

# PY STRINGS

In [7]:
str ='Hello Babu Lal'
print(str)
print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])
print(str[2:5]) #char strating from 3 to 5th
print(str[2:])  #char starting from 3 rd character
print(str*2)    # print string double time
print(str + "Marandi")# print concatenated string

Hello Babu Lal
H
e
l
l
o
llo
llo Babu Lal
Hello Babu LalHello Babu Lal
Hello Babu LalMarandi

# pythonma list

In [8]:
list =['abcd',345,2.23,'johnwa',70.2]
tinylist=[12,'johnu']
print(list[0])
print(list[1:3])
print(list[2:])
print(list*2)
print(tinylist)
print(list + tinylist)

abcd
[345, 2.23]
[2.23, 'johnwa', 70.2]
['abcd', 345, 2.23, 'johnwa', 70.2, 'abcd', 345, 2.23, 'johnwa', 70.2]
[12, 'johnu']
['abcd', 345, 2.23, 'johnwa', 70.2, 12, 'johnu']

# python tuples

In [9]:
tuple=('abcd','786',2.23,'john',70.2)
tinytuple=(123,'john')
print(tuple)
print(tuple[0])
print(tuple[1:3])
print(tuple[2:])
print(tuple*2)
print(tinytuple*2)
print(tuple + tinytuple)

('abcd', '786', 2.23, 'john', 70.2)
abcd
('786', 2.23)
(2.23, 'john', 70.2)
('abcd', '786', 2.23, 'john', 70.2, 'abcd', '786', 2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', '786', 2.23, 'john', 70.2, 123, 'john')

In [10]:
list=['sscs',786,2.36,'ram',70]
print(list)
tuplu=('dsdsd',456,2.22,'jay',80.236)
print(tuplu)
list[2]=789564  # succesfully assing the new value to variable
print(list)
tuplu[2]=555445   # not possible to assingb in tuples
print(tuplu)

['sscs', 786, 2.36, 'ram', 70]
('dsdsd', 456, 2.22, 'jay', 80.236)
['sscs', 786, 789564, 'ram', 70]

TypeError: 'tuple' object does not support item assignment

# python dictionary

In [2]:
 dict={}
dict[1]="this is one"
dict[2]="this is two"
tinydict={'name':'john','code':6734,'dept':'sales'}
print(dict[1])
print(dict[2])
print(tinydict)

this is one
this is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}

In [12]:
dict={'name':'john','branch':'cmps','rool':16,'college':'sipna'}
print (dict)
print (dict.keys())
print (dict.values())

{'name': 'john', 'branch': 'cmps', 'rool': 16, 'college': 'sipna'}
dict_keys(['name', 'branch', 'rool', 'college'])
dict_values(['john', 'cmps', 16, 'sipna'])

# operator in python

# arthemetic operator

In [13]:
a=20
b=30
c=0
c=a+b
print(c)
c=b-a
print(c)
c=a*b
print(c)
c=b/a
print(c)

50
10
600
1.5

# relational operator/comparisional operator

In [14]:
a= 21
b=10
if(a==b):
    print("it is correct")
else:
    print("this is not correct")
if(a!=b):
    print(" a is not equal to b")
else:
    print("a is eual to b")
if(a<b):
    print("here a isless than b")
else:
    print("a is greater than b")
if(a>b):
    print("here a is greater thaan  b")
else:
    print("here a is less than b")

this is not correct
 a is not equal to b
a is greater than b
here a is greater thaan  b

# assingment operator

In [15]:
a=21
b=10
c=0
c=a+b
print("line 1 _ value of c is ",c)
c+=a
print("line 2 _ value of c is ",c)
c*=a
print("line 3 _ value of c is ",c)
c/=a
print("line 4 _ value of c is ",c)

c=2
print("line 5 _ value of c is ",c)
c%=a
print("line 6 _ value of c is ",c)
c**=a
print("line 7 _ value of c is ",c)
c//=a
print("line 8 _ value of c is ",c)

line 1 _ value of c is  31
line 2 _ value of c is  52
line 3 _ value of c is  1092
line 4 _ value of c is  52.0
line 5 _ value of c is  2
line 6 _ value of c is  2
line 7 _ value of c is  2097152
line 8 _ value of c is  99864

# python membership operator

In [16]:
a=10
b=20
list=[1,2,3,4,5]
if(a in list):
    print("line 1 - a is available in the given list")
else:
    print("line 1- a is not available in the given list")
if(b not in list):
    print("line 2 - b is  not available in the given list")
else:
    print("line 2- b is  available in the given list")
c=b/a
if(c in list):
    print("line 3 - c is available in the given list")
else:
    print("line 3- c is not available in the given list")

line 1- a is not available in the given list
line 2 - b is  not available in the given list
line 3 - c is available in the given list

# python identity operator

In [17]:
a=10
b=20
print('Line 1','a=',a,':',id(a),'b=',b,':',id(b))
if (a is b):
    print("Line 2 - a and b have same identity")
else:
    print("Line 2 - a and b do not have same identity")
if(id(a)==id(b)):
    print("Line 3 - a and b do not have same identity")

Line 1 a= 10 : 140734205436592 b= 20 : 140734205436912
Line 2 - a and b do not have same identity

# decision making
# if condition

In [18]:
var1=100
if var1:
    print("1 -Got a true exp value")
    print(var1)
var2=0
if var2:
    print("2 - Got  a true expression")
    print(var2)
print("good bye")

1 -Got a true exp value
100
good bye

# if...elif....else

In [19]:
amount=int(input('Enter the amount:'))
if amount<1000:
    discount=amount*0.05
    print("Discount",discount)
else:
    discount=amount*0.10
    print("discount",discount)
print("Net payable:",amount-discount)

Enter the amount:5000
discount 500.0
Net payable: 4500.0

# elif

In [20]:
amount=int(input("enter the amount:"))
if amount<1000:
    dis=amount*0.05
    print("Discount is :", dis)
elif amount<2500:
    dis=amount*0.10
    print("Discount",dis)
elif amount<5000:
    dis=amount*0.15
    print("Discount",dis)
elif amount<7500:
    dis=amount*0.2
    print("Discount is :",dis)
else:
    dis=amount*0.25
    print("Discount is",dis)

enter the amount:5600
Discount is : 1120.0

In [21]:
num=int(input('enter the number:  '))
if num%2==0:
    if(num%3==0):
        print("number is divible by 3 and 2")
    else:
        print("no is divisible by 2 but not by 3")
else:
    if(num%3==0):
        print("number is divible by 3 not by 2")
    else:
        print("no is not divisible by 2 and not divisible  by 3")

enter the number:  9
number is divible by 3 not by 2

# single statement Suites

In [22]:
var =100
if (var==100):
    print("value of expression is 100")
print("good bye")

value of expression is 100
good bye

# loops
 1.while 2.for 3.nested

In [23]:
count=0
while(count<9):
    print("the count is:",count)
    count= count+1
print("goooood bye!")

the count is: 0
the count is: 1
the count is: 2
the count is: 3
the count is: 4
the count is: 5
the count is: 6
the count is: 7
the count is: 8
goooood bye!

In [24]:
var=1
while(var==1):
    num=int(input("enter the number:"))
    print("you enetered the num: ",num)
print("good bye")

enter the number:5
you enetered the num:  5
enter the number:

ValueError: invalid literal for int() with base 10: ''

# for loop

In [28]:
range(5)

range(0, 5)

In [31]:
list(range(5))
for var in list(range(5))
print(var)

SyntaxError: invalid syntax (<ipython-input-31-205b0677af7b>, line 2)

In [35]:
fruits=['banana','mango','apple']
for index in range(len(fruits)):
    print("Current fruit :", fruits[index])
print("Good bye!")

Current fruit : banana
Current fruit : mango
Current fruit : apple
Good bye!

In [38]:
num=[11,22,33,44,55,66,77,88,99]
for n in num:
    if n%2==0:
        print('the list contains an even number')
        break
else:
    print('the list does not contain even number')

the list contains an even number

In [39]:
for i in range(1,11):
    for j in range(1,11):
        k=i*j
        print(k,end=' ')
        print()

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

In [44]:
t=int(input())
for i in range(1,21):
    print(t,'*',i,'=' ,i*t)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

# import module

In [10]:
import import_ipynb
import cal
g=int(input('enter the number'))
h=int(input('enter the second number'))
cal.add(g,h)

enter the number5
enter the second number6
11

11

In [4]:
l=[1,2,3,4]
l[-2]

3